* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header {
    display: flex;
    background: #e9edc9;
    width: 350px;
    justify-content: center;

    padding: 15px 0;
}

header h1 {
    font-size: 30px;
}

header h1:hover {
    color: #e63946;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fefae0;
    width: 350px;
    height: 350px;
}

.container {
    display: block;
}

.input-div {
    margin-bottom: 20px;
}

.input-div input {
    font-size: 18px;
}

.input-div button {
    font-size: 18px;
}

.input-div button span {
    margin: 10px;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output span {
    font-size: 20px;
}

.output-number {
    text-align: center;
    min-width: 50px;
    background: #e63946;
}

.output-number {
    max-width: 310px;
}

.result {
    font-size: 15px;
}








footer {
    background: #faedcd;
    width: 350px;
    text-align: center;
}